$minWidth: 470px;
$maxWidth: 900px;
$mainPadding: 20px;

$darkBG: #212222;
$mainTextColor: #bbbbbb;
$secondaryTextColor: #7e7e7e;
$doButtonsColor: #269d26;
$linksColor: #226798;
$labelsTextColor: #c05dd7;

$mainTextFont: Sans-Serif;

$bodyTextSize: 18px;

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  max-width: $maxWidth;
  min-width: $minWidth;
  margin: auto;
  padding: 10px;

  font-family: $mainTextFont;
  background-color: $darkBG;
}

ul {
  list-style: none;
  margin: 0;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  & > div {
    display: flex;
    gap: 20px;
  }
}

// ==========================================
// Buttons:
// ==========================================
$linksTextColor: $linksColor;
$linksBackColor: $darkBG;
$submitsColor: $doButtonsColor;
$navLinksFontSize: 24px;

@mixin links_colors($textColor, $backColor) {
  color: $textColor;
  background: $backColor;
}
@mixin links_base($textColor, $backColor, $textSize) {
  @include links_colors($textColor, $backColor);

  outline: 0;
  border: 0;

  font-size: $textSize;
  text-decoration: none;
  font-weight: lighter;
  cursor: pointer;

  &:active {
    @include links_colors($backColor, $textColor);
  }
}

.nav-links {
  @include links_base(
    $linksTextColor,
    $linksBackColor,
    $navLinksFontSize
  );
}
.nav-links-active {
  @include links_colors($linksBackColor, $linksTextColor);
}

.search-submit {
  @include links_base(
    $submitsColor,
    $linksBackColor,
    $navLinksFontSize
  );
}
.exit-link {
  @include links_base(
    brown,
    $linksBackColor,
    $bodyTextSize
  )
}
.logout-link {
  @include links_base(
    brown,
    $linksBackColor,
    $navLinksFontSize
  );

  padding: 0;
}


// ==========================================
// Inputs:
// ==========================================
$inputsBGColor: #414444;

@mixin text-input-base(
  $textColor,
  $backColor,
  $textSize,
  $textFont
) {
  outline: none;
  border: 0;

  background: $backColor;

  color: $textColor;
  font-size: $textSize;
  font-weight: lighter;
  font-family: $textFont;
}

.search-input {
  @include text-input-base(
    white,
    $inputsBGColor,
    $navLinksFontSize,
    $mainTextFont
  );
}

.content {
  margin: 30px 0;
}

.simple-link {
  color: $linksColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;

  & > div {
    display: flex;
    justify-content: space-between;
  }

  label {
    color: $labelsTextColor;
    font-family: $mainTextFont;
    font-weight: lighter;
    font-size: 20px;
    margin-right: 5px;
  }

  input {
    @include text-input-base(
      white,
      $inputsBGColor,
      20px,
      $mainTextFont
    );
  }

  button {
    @include links-base(
      $submitsColor,
      $linksBackColor,
      20px
    );
    width: available;
  }
}
.greetings {
  font-size: $bodyTextSize;
  font-weight: lighter;
  color: $secondaryTextColor;
}

.sections {
  padding: 0;

  color: $mainTextColor;

  font-size: $bodyTextSize;
  font-weight: lighter;
  cursor: pointer;
}

.search-results {
  font-size: $bodyTextSize;
  font-weight: lighter;
}
.search-list-header {
  color: $mainTextColor;
}

.part-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 30px;
}
.refers-block {

  & > div {
    color: $mainTextColor;
    font-size: 30px;
    font-weight: lighter;
  }
}
.part-number {
  font-size: 30px;
  font-weight: lighter;
  color: $mainTextColor;
}
.product-status {
  font-size: 14px;
  font-style: italic;
}
.new-release {
  @extend .product-status;
  color: forestgreen;
}
.discontinued {
  @extend .product-status;
  color: brown;
}
.part-data {
  margin-top: 10px;

  font-size: $bodyTextSize;
  color: $mainTextColor;
}
.part-data-header {
  font-weight: lighter;
}
.part-data-list {
  font-weight: lighter;

  & > li {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    align-items: center;

    & > div:first-child {
      width: 120px;
      text-align: right;
    }
    & > div:not(:first-child) {
      font-family: monospace;
    }
  }
}
.price-color{
  color: #cb8f0d !important;
}

.error-block {
  & > * {
    margin: 0;
    font-weight: lighter;
  }

  h1 {
    color: brown;
  }

  h3 {
    color: $mainTextColor;
  }
}

