* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  max-width: 900px;
  min-width: 470px;
  margin: auto;
  padding: 10px;
  font-family: Sans-Serif;
  background-color: #212222;
}

ul {
  list-style: none;
  margin: 0;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
nav > div {
  display: flex;
  gap: 20px;
}

.nav-links {
  color: #226798;
  background: #212222;
  outline: 0;
  border: 0;
  font-size: 24px;
  text-decoration: none;
  font-weight: lighter;
  cursor: pointer;
}
.nav-links:active {
  color: #212222;
  background: #226798;
}

.nav-links-active {
  color: #212222;
  background: #226798;
}

.search-submit {
  color: #269d26;
  background: #212222;
  outline: 0;
  border: 0;
  font-size: 24px;
  text-decoration: none;
  font-weight: lighter;
  cursor: pointer;
}
.search-submit:active {
  color: #212222;
  background: #269d26;
}

.search-input {
  outline: none;
  border: 0;
  background: #414444;
  color: white;
  font-size: 24px;
  font-weight: lighter;
  font-family: Sans-Serif;
}

.content {
  margin: 30px 0;
}

.simple-link {
  color: #226798;
  text-decoration: none;
}
.simple-link:hover {
  text-decoration: underline;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
}
.loginForm > div {
  display: flex;
  justify-content: space-between;
}
.loginForm label {
  color: #c05dd7;
  font-family: Sans-Serif;
  font-weight: lighter;
  font-size: 20px;
  margin-right: 5px;
}
.loginForm input {
  outline: none;
  border: 0;
  background: #414444;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  font-family: Sans-Serif;
}
.loginForm button {
  color: #269d26;
  background: #212222;
  outline: 0;
  border: 0;
  font-size: 20px;
  text-decoration: none;
  font-weight: lighter;
  cursor: pointer;
  width: available;
}
.loginForm button:active {
  color: #212222;
  background: #269d26;
}

.sections {
  padding: 0;
  color: #bbbbbb;
  font-size: 18px;
  font-weight: lighter;
  cursor: pointer;
}

.search-results {
  font-size: 18px;
  font-weight: lighter;
}

.search-list-header {
  color: #bbbbbb;
}

.part-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 30px;
}

.refers-block > div {
  color: #bbbbbb;
  font-size: 30px;
  font-weight: lighter;
}

.part-number {
  font-size: 30px;
  font-weight: lighter;
  color: #bbbbbb;
}

.product-status, .discontinued, .new-release {
  font-size: 14px;
  font-style: italic;
}

.new-release {
  color: forestgreen;
}

.discontinued {
  color: brown;
}

.part-data {
  margin-top: 10px;
  font-size: 18px;
  color: #bbbbbb;
}

.part-data-header {
  font-weight: lighter;
}

.part-data-list {
  font-weight: lighter;
}
.part-data-list > li {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  align-items: center;
}
.part-data-list > li > div:first-child {
  width: 120px;
  text-align: right;
}
.part-data-list > li > div:not(:first-child) {
  font-family: monospace;
}

.price-color {
  color: #cb8f0d !important;
}

.product-info {
  min-width: 470px;
  flex-grow: 3;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 20px;
}
.product-info-table {
  color: #bbbbbb;
  min-width: 650px;
  max-width: 690px;
}
.product-info-table th {
  text-align: left;
  border-bottom: 1px solid gray;
}
.product-info-table td:first-child {
  width: 40%;
  text-align: right;
  color: gray;
  font-weight: lighter;
}
.product-info-table td {
  font-size: 20px;
  padding: 0 10px;
}

.refers > div {
  min-width: 145px;
  height: 24px;
  color: #bbbbbb;
  font-weight: bold;
  border-bottom: 1px solid gray;
}
.refers > ul {
  padding: 0 0 0 10px;
  margin: 0;
  font-size: 20px;
}

.noRefers {
  font-weight: lighter;
  color: gray;
}

.error-block > * {
  margin: 0;
  font-weight: lighter;
}
.error-block h1 {
  color: brown;
}
.error-block h3 {
  color: #bbbbbb;
}

/*# sourceMappingURL=index.css.map */
